<%- include('./template/header')%>

<%_ if (error) { _%>

  <div class="container d-flex justify-content-center align-items-center" style="height: calc(100vh - 62px);">
    <div class="alert alert-danger">
      <%=error%>
    </div>
  </div>

<%_ } else { _%>

  <div class="container-fluid m-0">
    <div class="row">

      <div id="sidebar" class="col-lg-3 col-xl-2 d-none d-lg-flex flex-column bg-light shadow sidebar p-0">
        <div class="overflow-auto">

          <div class="accordion" id="accordionSheets">

            <%_ for (typeSheet in sheets) { _%>

            <div class="card">
              <div class="card-header" id="heading-<%=typeSheet%>">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-<%=typeSheet%>"
                    aria-expanded="true" aria-controls="collapse-<%=typeSheet%>">
                    <%=sheets[typeSheet][0].typeName%>
                  </button>
                </h2>
              </div>

              <div id="collapse-<%=typeSheet%>" class="collapse <%=(typeSheet === type) ? 'show' : ''%>"
                aria-labelledby="heading-<%=typeSheet%>" data-parent="#accordionSheets">
                <div class="card-body p-1">
                  <ul class="list-group list-group-flush">
                    <%_ for (el of sheets[typeSheet]) { _%>
                    <a href="/views/<%=el.typeApi%>/<%=el.viewApi%>/update"
                      class="list-group-item list-group-item-action <%=(el.viewApi === name) ? 'active' : ''%> smaller-text ">
                      <%=el.viewName%>
                      <span
                        class="badge badge-pill <%=(el.viewApi === name) ? 'badge-dark' : 'badge-secondary'%> float-right"><%=el.dbName%></span>
                    </a>
                    <%_ } _%>
                  </ul>
                </div>
              </div>
            </div>

            <%_ } _%>

          </div>

        </div>
      </div>

      <div id="content" class="col col-lg-9 col-xl-10 px-4 py-3">
        <%_ if (type === null) { _%>
        <div class="d-flex h-100 justify-content-center align-items-center text-center">
          <div>
            <h4 class="display-4">Select a View to update</h4>
            <p class="d-block text-black-50">or</p>
            <button type="button" class="btn btn-success p-3" data-toggle="modal" data-target="#createView">
              <h5 class="m-0 font-weight-normal">
                <i class="fas fa-plus mr-2"></i>Create a new View
              </h5>
            </button>
          </div>
        </div>
        <%_ } else { _%>
          <%- include('./template/settings_form') %> 
        <%_ } _%>
      </div>
    </div>
  </div>
  </div>
<%_ } _%>

  <%_ if (type === null) { _%>
  <%# Modal %>
  <div class="modal fade" id="createView" tabindex="-1" role="dialog" aria-labelledby="createViewLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createViewLabel">Choose a type:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <a href="/views/straight-table/create" type="button" class="btn btn-outline-primary btn-block">Straight Table</a>
          <a href="/views/bar-chart/create" type="button" class="btn btn-outline-primary btn-block">Bar Chart</a>
          <a href="/views/pie-chart/create" type="button" class="btn btn-outline-primary btn-block">Pie Chart</a>
          <a href="/views/line-chart/create" type="button" class="btn btn-outline-primary btn-block">Line Chart</a>
        </div>
      </div>
    </div>
  </div>
  <%_ } _%>

  <%_ if (type !== null) { _%>
  <script>

    document.getElementById('form').addEventListener('submit', function formSubmit(event) {
      event.preventDefault();
      const info = document.querySelectorAll('.infoForm');
      const settings = document.querySelectorAll('.settingsForm');
      let obj = {
        info: {},
        settings: {},
      };
      
      info.forEach( input => {
        obj.info[input.name] = (input.type === 'checkbox') ? input.checked : input.value;
      });

      settings.forEach( input => {
        obj.settings[input.name] = (input.type === 'checkbox') ? input.checked : input.value;
      });

      obj.info.users = personChips;

      const xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4) {
          if (this.status == 200) {
            location.href = "/views/<%=type%>/<%=name%>/update"
            return
          } else {
            const errorsAlert = document.getElementById('error');
            if (this.status === 422) {
              const errors = JSON.parse(this.responseText).errors;
              errors.forEach((el) => {
                const id = el.param.split('.')[1];
                document.getElementById(id).parentNode.insertAdjacentHTML(
                  'beforeend',
                  `<small id="${id}Error" class="form-text text-danger">${el.msg}</small>`
                );
              });
              errorsAlert.innerHTML = "Please correct all errors and try again";
            } else {
              errorsAlert.innerHTML = "An error occurred updating the view! Please, contacts your administrator or retry later";
            }
            errorsAlert.classList.remove('d-none');
            errorsAlert.classList.add('d-block');
          }
        }
      };
      xhttp.open("PUT", "/views/<%=type%>/<%=name%>/update", true);
      xhttp.setRequestHeader("Content-type", "application/json");
      xhttp.send(JSON.stringify(obj));
    });

</script>
<% } %>

<%- include('./template/footer')%>